{% extends 'news/base.html' %}
{% load static %}

{% block title %} Foydalanuvchi parolini tiklash {% endblock title %}

{% block content %}

    <h2>Parolni o'zgartirish</h2>
    <p>Parolingizni tiklash uchun,  quyidagi formani to'ldiring!</p>
    {% if validlink %}
        <p>Iltimos yangi parolni ikki marotaba kiriting</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p><button type="submit">Parolni o'zgartirish</button></p>
        </form>
    {% else %}
        <p>Siz noto'g'ri linkdan foydalandingiz, u avvalroq foydalangan bo'lishi yoki ishlatish vaqti o'tib ketgan bo'lishi mumkin</p>
    {% endif %}

{% endblock content %}