{% extends 'news/base.html' %}
{% load static %}
{% block title %} Biz bilan bog'laning {% endblock title %}

{% block content %}
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="contact_area">
            <h2>Biz bilan bog'laning</h2>
            <p>Murojaatingizda iltimos madaniyat qoidalariga rioya qiling va murojaatingiz mazmuni tushunarli bo'lsin.</p>
            <form action="#" class="contact_form" method="post">{% csrf_token %}
              <input class="form-control" type="text" placeholder="Ism*" name="name">
              <input class="form-control" type="email" placeholder="Email*" name="email">
              <textarea class="form-control" cols="30" rows="10" placeholder="Xabar*" name="message"></textarea>
              <input type="submit" value="Xabarni jo'natish">
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock content %}