{% extends 'news/base.html' %}
{% load static %}

{% block title %} Xorij xabarlari {% endblock title %}

{% block content %}

    {% for news in global %}
        <div class="row">
            <a href="{{ news.get_absolute_url }}">
                <div class="col-sm-12">
                    <h3>{{ news.title }}</h3>
                </div>
                <p>Ko'rilganlar soni: <i class="fa fa-eye"></i>  {% get_hit_count for news %}</p>
                <div class="col-sm-6">
                    <img src="{{ news.image.url }}" alt="{{ news.title }}" style="width: 40%">
                </div>
                <div class="col-sm-6">
                    <p style="margin-left: -350px;">{{ news.body | truncatewords:100 }}</p>
                </div>
            </a>
        </div>
        <br>
    {% endfor %}

{% endblock content %}